EMAIL_ADDRESS=__FILL_IN__
EMAIL_IMAP_HOST=__FILL_IN__
EMAIL_IMAP_PORT=__FILL_IN__
EMAIL_SMTP_HOST=__FILL_IN__
EMAIL_SMTP_PORT=__FILL_IN__
EMAIL_PASSWORD=__FILL_IN__
GITHUB_TOKEN=__FILL_IN__
GITHUB_USER=__FILL_IN__
SSH_TARGET_IP=__FILL_IN__
SSH_TARGET_PORT=__FILL_IN__
SSH_USER_NAME=__FILL_IN__
SSH_USER_PASSWORD=__FILL_IN__
VINCZETAMAS_WP_URL=__FILL_IN__
VINCZETAMAS_WP_USER=__FILL_IN__
VINCZETAMAS_WP_PASSWORD=__FILL_IN__
VINCZETAMAS_WP_APP_PASSWORD=__FILL_IN__
VINCZETAMAS_WPCLI_PATH=__FILL_IN__
MAINWP_DASHBOARD_URL=__FILL_IN__
MAINWP_BEARER_TOKEN=__FILL_IN__
ELKEZDODOTT_WP_URL=__FILL_IN__
ELKEZDODOTT_WP_USER=__FILL_IN__
ELKEZDODOTT_WP_PASSWORD=__FILL_IN__
ELKEZDODOTT_WP_APP_PASSWORD=__FILL_IN__
ELKEZDODOTT_WP_CLI_PATH=__FILL_IN__
OPENAI_API_KEY=__FILL_IN__
BRAVE_API_KEY=__FILL_IN__
ELEVENLABS_AP_KEY=__FILL_IN__
GOOGLE_GEMINI_API_KEY=__FILL_IN__
TTS_DEFAULT=__FILL_IN__
TTS_ELEVENLABS_VOICE_ID=__FILL_IN__
TTS_ELEVENLABS_MODEL=__FILL_IN__
GEMINI_API_KEY=__FILL_IN__
TWILIO_ACCOUNT_SID=__FILL_IN__
TWILIO_PHONE_NUMBER=__FILL_IN__
TWILIO_AUT_TOKEN=__FILL_IN__
